body{
    background-color:#f0ffff;
    font-size:100px;
    color:black;

}

navbar{
    background-color:yellow;
    height:200px;

}

h1{
    background-color:#FC4A1A;
    color:white;
    margin-left:20%;
    padding-left:5%;
    max-width:60%;
    border-radius:20px;
    padding:0.5em;
}

h3{
    color:black;
    background-color:
    /*clean*/
    #DFDCE3;
    border-radius:20px;
    padding:0.5em;
    

}

.pie_graph{
    display:flex;
    flex-direction:column;
    background-color:blue;
    padding-top:.5em;
    padding-bottom:.5em;
    width:90%;
}

.pie_graphic{
    padding-top:3%;
    width:80%;
}

.row-block{
    background-color:blue;
}


.line_charts{
    margin-left:2px;
    color:orange;
    background-color:blue;
}

.row-charts{
    background-color:blue;
}

.esb_connections_block{
    width:100%;
}

p{
    font-size:10px;
}

.charts{
    
    color:black;
    width:100%;
    min-height:300px;
}

.body_text{
    padding:3%;
    min-height:200px;
    font-size:15px;
    background-color:blue;
    border-radius:20px;
    background-color:
    /*vermillion*/
    #FC4A1A;
    color:white;
}


#section_one{
    display:flex;
    flex-direction:row;
    background-color:yellow;
    justify-content:flex-start;
    width:80%;
}

#section_two{
    display:flex;
    flex-direction:row;
    background-color:blue;
    width:80%;
}

.graph_block{
    display:flex;
    flex-direction:row;
    }

.row_chart_block{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
