body{
    background-color:pink;
    font-size:100px;
    color:black;

}

navbar{
    background-color:yellow;
    height:200px;
}

h1{
    background-color:black;
    color:#ccc;
    margin-left:20%;
    padding-left:5%;
    max-width:60%;
    border-radius:5%;
}

.pie_chart{
    padding:10px;
}

#pie_block_one{
    position:relative;
    top:20px;
}


#section_one{
    display:flex;
    flex-direction:row;
    background-color:yellow;
    justify-content:flex-start;
    width:80%;
}

#section_two{
    display:flex;
    flex-direction:row;
    background-color:blue;
    width:80%;
}

.graph_block{
    margin-left:15%;
    
}

 #pie-chart{
    fill:orange;
}

#pie-chart-2{
    fill:blue
}