 body{
 
 }
.navbar{
    display:flex;
    justify-content:center;
}

h4, h5{
    background-color:#4169E1;
    width:100%;
    margin-left:40px;
}





#first_section{
    background-image:"/static/images/micaela-parente-551085-unsplash.jpg";
    display:flex;
    flex-direction:row;
    justify-content:space-around;
 
}

.part_1{
    display:flex;
    flex-direction:row;
}

@media (max-width:992px){
    
    #first_section{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
 
}

.part_1{
    display:flex;
    flex-direction:row;
    align-items:center;
    background-color:pink;
}
    
}


#third_section{

    display:flex;
    flex-direction:column;
   
  
   
}


#fourth_section{
/*    background-color:green;  */
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:#e6f7ff;
    /*position:relative;
    top:-200px;
     */
}



#large_block{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    
}

.part_1{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

#heading_para{
    width:100%;
}

.pie_graph{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.background{
    background-color:blue;
}

.alt-background{
    background-color:red;
}



